@import 'tailwindcss';

body {
    background-image: url('/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contaner {
    margin-right: auto;
    margin-left: auto;
}